<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">

<head>
    <th:block layout:fragment="page-css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
            integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
            crossorigin="anonymous" />
    </th:block>
</head>

<body>

    <div layout:fragment="content" class="container-fluid">

        <main role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Datastax Learning Tool</h1>
                    <p>The purpose of this tool is to help you learn about Datastax Astra DB by walking you through a
                        simple application. The application highlights the multi-model capabilities of Astra DB along
                        with the developer ready APIs.
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="https://astra.datastax.com" role="button">Learn more
                            &raquo;</a></p>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>Developer Ready</h2>
                        <p>Developers can use their choice of the REST API, GraphQL API or schemaless Document API to
                            access data. For the first time, developers can use the fastest-to-deploy app stacks with a
                            Cassandra-based data service.
                        </p>
                        <p><a class="btn btn-secondary" href="/hackathon" role="button">View details
                                &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Multi-Model</h2>
                        <p>By using the Document API, developers can store JSON objects in Astra, without doing up front
                            modeling. Developers can easily prototype without having to pre-define schema and queries.
                        </p>
                        <p><a class="btn btn-secondary" href="/hackathon" role="button">View details &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Cloud Native Delivered</h2>
                        <p>Developers have the freedom of choice to run on any cloud. They can start storing data
                            immediately on the cloud of their choice and scale apps across AWS, GCP, and Azure.
                        <p><a class="btn btn-secondary" href="/hackathon" role="button">View details &raquo;</a></p>
                    </div>
                </div>
                <hr>
        </main>

    </div>

    <th:block layout:fragment="page-scripts">
        <script th:inline="javascript">

            $('#nav-list a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })

            $(document).ready(function () {
                $('#products').DataTable({
                });
            });

        </script>
    </th:block>

</body>

</html>